html, body {
  width: 100%;
  height: 100%;
}

#button-customs {
  border: 1px solid #dee2e6;
}

.pagination-limit {
  left: 2.5%;
  bottom: 2.5%;
  position: absolute;
}

.pagination-limit th {
  padding-right: 0.5em;
}
/* table style */

.table div {
  display: flex;
}

.table {
  padding: 0 20px;
  height: 650px;
  overflow-x: auto;
}

.table div.body:nth-child(odd) {
  background: #e9e9e9;
}

.tags {
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  background: white;
}
div #count,
div #number {
  max-width: 50px;
  justify-content: right;
}

#string {
  justify-content: left;
}

.col {
  justify-content: left;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  padding: 10px 15px;
}

/* Стили для скролла */





/* .table {
  width: 100%;
  overflow: auto;
}



.thead, .tbody tr {
  display: table;
  width: 100%;
}

.tbody {
  display: block;
  width: 100%;
  height: 75vh;
  overflow: auto;
} */

/* 
.scroll-table-body {
  height: 600px;
  overflow: auto;
	margin-top: 0px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
}

.scroll-table table {
	width:100%;
	table-layout: fixed;
	border: none;
}

.scroll-table thead th {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
	font-weight: bold;
	text-align: center;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.scroll-table tbody td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
	text-align: center;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}

.scroll-table tbody tr:nth-child(even){
	background: #f3f3f3;
} */
