html, body {
  width: 100%;
  height: 100%;
}

#button-customs {
  border: 1px solid #dee2e6;
}

.pagination-limit {
  left: 2.5%;
  bottom: 2.5%;
  position: absolute;
}

.pagination-limit th {
  padding-right: 0.5em;
}

.tags, .body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 700px;
}

.table, .portfolio-table {
  white-space: nowrap;
  width: 100%;
  padding: 0 20px;
  height: 100%;
  overflow: auto;
}

.table div.body:nth-child(odd) {
  background: #e9e9e9;
}

.tags, .portfolio-tags {
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  background: white;
}


.rigthContent, .leftContent {
  white-space: nowrap;
  display: flex;
  padding: 10px 15px;
}

.rigthContent {
  justify-content: right;
  width: 15%;
}

.leftContent {
  justify-content: left;
  width: 20%;
}

.portfolio-tags, .portfolio-body {
  white-space: nowrap;
  width: 100%;
}

.portfolio-table {
  white-space: nowrap;
  overflow: auto;
}

.table div.portfolio-body:nth-child(odd) {
  background: #e9e9e9;
}

.portfolio-tags {
  position: sticky;
  top: 0;
}

.portfolio-tags div, .portfolio-body div {
  margin-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  display: inline-block; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.portfolio-table .column-0 {
  width: 150px;
} 

.portfolio-table .column-1 {
  width: 100px;
}
