html, body {
  width: 100%;
  height: 100%;
}

#button-customs {
  border: 1px solid #dee2e6;
}

.pagination-limit {
  left: 2.5%;
  bottom: 2.5%;
  position: absolute;
}

.pagination-limit th {
  padding-right: 0.5em;
}
/* table style */

.tags, .body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 700px;
}

.table {
  padding: 0 20px;
  height: 650px;
  overflow: auto;
}

.table div.body:nth-child(odd) {
  background: #e9e9e9;
}

.tags {
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  background: white;
}


.rigthContent, .leftContent {
  white-space: nowrap;
  display: flex;
  padding: 10px 15px;
}

.rigthContent {
  justify-content: right;
  width: 10%;
}

.leftContent {
  justify-content: left;
  width: 20%;
}


